.App {
  text-align: center;
}

.tab {
  width: 75px;
  height: 30px;
  border: 2px solid black;
  display: inline-block;
  margin: 5px;
  margin-top: 30px;
  justify-content: center;
}

.active{
  background-color: black;
  color: white;
}
